@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: content-box;
}

html::-webkit-scrollbar {
  display: none;
}

body,html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: content-box;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  position: relative
}


.top-16 {
  top: 5.80rem;
}


.max-w-lg {
  max-width: 500px;
}

.userName {
 all: unset;
 margin: 0.3rem 0;
 font-weight: 600;
 width: 100%;
}


.email {
  background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}

.password {
  background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}

.showPassword {
  top: -4%;
  right: 1%
}

.text-3xl {
  font-size: 2rem;
}

.border-50 {
  border-radius: 50%
}


.formButton {
  padding: 0.9rem 3rem;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rent {
  margin-left: -1.5rem
}

.file::-webkit-file-upload-button {
  border: none;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
}